html { font-family: sans-serif; font-size: 16px; color: black; }
body { padding: 0; margin: 0; font-family: sans-serif; font-size: 12px; background: #fff; }

h1 { font-size: 90px; margin: 20px; }

p { font-size: 110%; text-align: justify; margin: 20px 0; line-height: 150%; }

a { text-decoration: none; font-size: 100%; }
a:hover { text-decoration: underline; }

ul { margin: 0 auto; list-style-type: none; width: 300px; }
li { float: left; padding: 10px; text-align: center; }

pre  { font-size: 130%; padding: 10px 0 0 0; -moz-border-radius: 10px; font-family: courier, monospace; color: #000; }
code { font-family: courier, monospace; }

img { border: none; }
