h1 { font-family: times; font-size: 400%; margin: 20px 0; color: #f7d901; }
h2 { font-size: 220%; margin-top: 30px; color: #444; }
h3 { font-size: 190%; color: orange; }

p { color: #222; font-weight: normal; font-size: 120%; }
a { color: #262; }
a:hover { text-decoration: underline; }

 pre { background: #ffffff; -moz-border-radius: 10px; line-height: 140%; }
code { color: #222; font-weight: bold; }
  tt { color: #222; font-weight: bold; }

#nav { padding: 0 30px 20px 60px; text-align: left; color: pink; float: right; }
#nav a { font-size: 160%; font-weight: bold; line-height: 150%; }
#nav a:hover { color: #0C0; text-decoration: none; }

#header { height: 250px; text-align: left; }
#header h1 { font-size: 100px; padding: 40px 0 0 0; color: #f7d901; margin-left: -10px; }

#main { color: white; padding: 20px 0 30px 0; background: url(../images/skin.jpg) #f7e931; }
#main p { font-weight: bold; font-family: times; font-size: 150%; }
#main h2 { color: #333333; }
#main h3 { color: #333333; }

#footer { margin-top: 40px; padding: 40px 0; text-align: center; background: url(../images/skin.jpg) #f7e931; }
#footer .copyright { padding-top: 0; }
#footer .copyright p { color: #222; font-weight: normal; font-size: 80%; line-height: 150%; }

#forkme {
  position: absolute;
  top: 0; right: 0;
  width: 150px;
}
